/***********************************
***********adaption*****************
***********************************/

/***********************************
********header adaption*************
***********************************/
@media (max-width: 1600px) {
  ._container {
    padding: 0 1.25vw;
  }
  .header__header-top {
    padding: 0.56vw 0;
  }
  .header-top__locate-icon {
    width: 1.06vw;
    height: 1.19vw;
    margin-right: 0.94vw;
  }
  .header-top__city {
    font-size: 1vw;
  }
  .header-schedule__watch {
    width: 0.94vw;
    height: 0.94vw;
  }
  .header-top__hight-light-text {
    border-bottom: 0.06vw solid #3E60C1;
  }
  .header-top__trinagle {
    border-right: 0.25vw solid transparent;
    border-left: 0.25vw solid transparent;
    border-top: 0.5vw solid #3E60C1;
  }
  .header-top__locate-and-schedule > *:not(:first-child) {
    margin-left: 2.88vw;
  }
  .header-schedule__text {
    margin-left: 1.06vw;
    font-size: 1vw;
  }
  .header-schedule__text span {
    margin-left: 0.31vw;
  }
  .currency__text {
    font-size: 1vw;
  }
  .currency__rub span {
    border-bottom: 0.06vw solid #3E60C1;
  }
  .currency__rub, .currency__usd {
    padding: 0 0.88vw;
  }
  .currency__text > span:not(:first-child) {
    border-left: 0.06vw solid #787878;
  }
  .header-top {
    border-bottom: 0.06vw solid #E7E7E7;
  }
  .header-middle__logo-image {
    width: 14.75vw;
    height: 4.13vw;
  }
  .header-middle__logo {
    padding-right: 3.38vw;
    border-right: 0.06vw solid #4067D8;
  }
  .header-middle__contact-wrapper {
    margin: 0 1.3vw;
  }
  .header-middle__contact-wrapper .header-contact__block:not(:last-child) {
    margin-right: 2.06vw;
  }
  .header-contact__image-wrapper {
    min-width: 2.25vw;
    min-height: 2.25vw;
    box-shadow: 0px 0.25vw 0.63vw rgba(0, 0, 0, 0.05);
    padding: 0.56vw;
    margin-right: 1.13vw;
  }
  .header-contact__mail-text  {
    font-size: 1.13vw;
  }
  .header-contact__phone-text {
    font-size: 1.37vw;
  }
  .header-contact__call-order {
    font-size: 1.13vw;
    border-bottom: 0.06vw dashed #3E60C1;
  }
  .header-middle__search-form {
    box-shadow: 0px 0.5vw 1.25vw rgba(0, 0, 0, 0.05);
    border-radius: 0.25vw;
    width: 22.38vw;
    height: 3.13vw;
    padding: 0 3.75vw 0 1.88vw;
    font-size: 0.88vw;
  }
  .header-middle__forms {
    width: 22.38vw;
  }
  .header-middle__search-icon {
    right: 1.31vw;
    width: 1.25vw;
    height: 1.25vw;
  }
  .header-middle__cart-link {
    max-width: 17vw;
    min-height: 3.13vw;
    padding: 0.63vw 0.88vw 0.63vw 1.44vw;
    border-radius: 0.25vw;
    margin-left: 1vw;
  }
  .header-middle__cart {
    padding-right: 1.13vw;
    border-right: 0.06vw solid #FF8A8B;
  }
  .header-middle__cart-icon {
    width: 1.8vw;
    height: 1.75vw;
    margin-right: 2vw;
  }
  .header-middle__cart-text {
    font-size: 1.13vw;
  }
  .header-middle__balance {
    padding-left: 1.13vw;
    font-size: 1.13vw;
  }
  .header-middle__balance span {
    font-size: 0.75vw;
  }
  .menu__link {
    min-height: 3.75vw;
    padding: 1.13vw 1.25vw;
    font-size: 1.25vw;
    line-height: 1.5vw;
    border-left: 0.06vw solid #4067D8;
    min-width: 6.44vw;
  }
  .menu__list .menu__link:last-child {
    border-right: 0.06vw solid #4067D8;
  }
  .header-top__locate, .header-top__schedule, .currency {
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    align-items: center;
  }
  .header-middle__container > * {
    margin-top: 1.69vw;
    margin-bottom: 1.69vw;
  }
  .header-contact__icon-phone {
    width: 2.06vw;
    height: 2.06vw;
  }
  .header-contact__icon-mail {
    width: 1.88vw;
    height: 1.69vw;
  }
}
@media (max-width: 1008px) {
  .header-middle__contact-wrapper {
    margin: 0 1vw;
  }
}
@media (max-width: 997px) {
  .header-middle__forms {
    width: 21.38vw;
  }
}
@media (max-width: 960px) {
  .header-middle__cart-link {
    margin-left: 0.75vw;
}
}
@media (max-width: 767.9px) {
  
  .menu__link {
    border: none;
    background-color: transparent;
  }
  .menu__list .menu__link:first-child, .menu__list .menu__link:last-child, .menu__link {
    flex-grow: 0;
  }
  .menu__locate-and-schedule-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    flex-direction: column;
  }
  .header__header-top {
    display: none;
  }
  .header-middle__forms-desktop {
    display: none;
  }
  .menu__list .menu__link:last-child {
    border-right: none;
  }
  .header-middle__forms-mobile {
    display: block;
  }
  .header-contact__desctop {
    display: none;
  }
  .header-contact__mobile {
    display: flex;
  }
  .header__menu-icon {
    display: block;
    width: 8.87vw;
    height: 7.56vw;
    position: relative;
    margin-left: 4.61vw;
  }
  .menu {
    position: fixed;
    z-index: 20;
    background-color: #ffffff;
    height: calc(100vh - 21.64vw);
    width: 100%;
    top: -100vh;
    left: 0;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .menu._active {
    top: 21.64vw;
  }
  .header-middle__cart-and-burder-wrapper {
    display: flex;
    align-items: center;
  }
  .header__menu-icon span, .header__menu-icon:before, .header__menu-icon:after {
    height: 10%;
    width: 100%;
    background-color: #000;
    position: absolute;
    transition: all 0.3s ease 0s;
  }
  .header__menu-icon:before, .header__menu-icon:after {
    content: "";
  }
  .header__menu-icon:before {
    top: 0;
  }
  .header__menu-icon:after {
    bottom: 0;
  }
  .header__menu-icon span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  .menu__link {
    color: #000;
  }
  .header__menu-icon._active span {
    transform: scale(0);
  }
  .header__menu-icon._active:before {
    top: 50%;
    transform: rotate(45deg);
  }
  .header__menu-icon._active:after {
    bottom: 42%;
    transform: rotate(-45deg);
  }
  /*умножаю на 1.6*/
  .header-top__locate-icon {
    width: 3.696vw;
    height: 3.904vw;
    margin-right: 1.024vw;
  }
  .header-top__city {
    font-size: 3vw;
  }
  .header-schedule__watch {
    width: 3.7vw;
    height: 3.5vw;
  }
  .header-top__hight-light-text {
    border-bottom: 0.096vw solid #3E60C1;
  }
  .header-top__trinagle {
    border-right: 0.9vw solid transparent;
    border-left: 0.9vw solid transparent;
    border-top: 1.5vw solid #3E60C1;
  }
  .header-top__locate-and-schedule > *:not(:first-child) {
    margin-left: 0;
  }
  .header-schedule__text {
    margin-left: 1.696vw;
    font-size: 3vw;
  }
  .header-top__locate-and-schedule > *:not(:first-child) {
    margin-top: 2vw;
  }
  .header-schedule__text span {
    margin-left: 0.496vw;
  }
  .currency__text {
    font-size:3vw;
    margin-top: 2vw;
    margin-left: 0;
  }
  .currency__rub span {
    border-bottom: 0.096vw solid #3E60C1;
  }
  .currency__rub, .currency__usd {
    padding: 0 1.408vw;
  }
  .currency__text > span:not(:first-child) {
    border-left: 0.096vw solid #787878;
  }
  .header-top {
    border-bottom: 0.096vw solid #E7E7E7;
  }

  /*умноаю на 4.3*/
  .header-middle__search-form {
    box-shadow: 0px 1.15vw 2.375vw rgb(0 0 0 / 5%);
    border-radius: 1.075vw;
    width: 77vw;
    height: 7.459vw;
    padding: 0 8.125vw 0 3.084vw;
    font-size: 3.784vw;
  }
  .header-middle__forms {
    width: 96vw;
    margin-top: 3vw;
  }
  .header-middle__search-icon {
    right: 21.633vw;
    width: 3.375vw;
    height: 3.375vw;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4vw;
  }
  .menu__link {
    padding: 0;
    min-width: 0;
    min-height: 0;
    font-size: 7vw;
  }
  .menu__list .menu__link:not(:first-child) {
    margin-top: 12vw;
  }
  .header-contact__mobile {
    margin-top: 8vw;
  }

  .header-contact__image-wrapper-mobile {
    min-width: 7.25vw;
    min-height: 7.25vw;
    box-shadow: 0px 2.25vw 3.63vw rgba(0, 0, 0, 0.05);
    padding: 1.56vw;
    margin-right: 2.13vw;
  }
  .header-contact__mail-text  {
    font-size: 4.13vw;
  }
  .header-contact__icon-mail {
    width: 4.88vw;
    height: 3.69vw;
  }
  .header__header-middle._active {
    position: fixed;
    z-index: 30;
    width: 100%;
    background-color: #fff;
    top: 0;
  }
  .brands__text-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .brands__text-content > *:not(:first-child) {
    margin-top: 2vw;
  }
  .header-middle__logo-image {
    width: 33.69vw;
    height: 18.26vw;
  }
  .header-contact__text-wrapper {
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-middle__logo {
    border: none;
    padding-right: 0;
  }
  .header-middle__contact-wrapper {
    margin: 0 3.44vw;
  }
  .header-middle__contact-wrapper .header-contact__block:not(:last-child) {
    margin-right: 15.8px;
  }
  .header-contact__image-wrapper-phone {
    display: none;
  }
  .header-contact__image-wrapper {
    min-width: 11.25vw;
    min-height: 11.25vw;
    box-shadow: 0px 2.25vw 3.63vw rgb(0 0 0 / 5%);
    padding: 2.56vw;
    margin-right: 3.13vw;
  }
  .header-contact__phone-text {
    font-size: 3.54vw;
  }
  .header-contact__call-order {
    display: none;
  }
  .header-middle__cart-link {
    max-width: 38.56vw;
    min-height: 9.52vw;
    padding: 0.63vw 0.88vw 0.63vw 1.44vw;
    border-radius: 0.25vw;
    margin-left: 2vw;
  }
  .header-middle__cart {
    padding-right: 0;
    border-right: none;
  }
  .header-middle__cart-icon {
    width: 6.67vw;
    height: 6.67vw;
  }
  .header-middle__cart-text {
    font-size: 0;
  }
  .header-middle__balance {
    padding-left: 1.65vw;
    font-size: 2.56vw;
    display: none;
  }
  .header-middle__balance span {
    font-size: 1.53vw;
  }
  .header-contact__icon-phone {
    width: 3.89vw;
    height: 3.89vw;
  }
  
}
@media (max-width: 500px) {
  .header-middle__logo-image {
    width: 33.69vw;
    height: 18.26vw;
  }
  .header-middle__contact-wrapper .header-contact__block:not(:last-child) {
    margin-right: 3.16vw;
  }
  .header-contact__phone-text {
    font-size: 3.54vw;
  }
  .header-contact__call-order {
    font-size: 1.73vw;
    border-bottom: 0.09vw dashed #3E60C1;
  }
  .header-middle__balance {
    padding-left: 1.73vw;
    font-size: 1.73vw;
  }
  .header-middle__balance span {
    font-size: 1.15vw;
  }
  .header-contact__icon-phone {
    width: 3.16vw;
    height: 3.16vw;
  }
}
@media (max-width: 425px) {
  .header-contact__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header-contact__call-order {
    width: max-content;
  }
}
@media (max-width: 367px) {
  .header__menu-icon {
    width: 20px;
    height: 18px;
    margin-left: 17px;
  }
}
@media (max-width: 325px) {
  .header__menu-icon {
    width: 20px;
    height: 18px;
    margin-left: 12px;
  }
}
/***********************************
********main section adaption*******
***********************************/
@media (max-width: 1600px) {
  .main-section {
    min-height: 30.19vw;
  }
  .main-section__bread-crumbs {
    padding-top: 1.37vw;
  }
  .bread-crumbs__prev-page {
    font-size: 1.13vw;
  }
  .bread-crumbs__this-page {
    font-size: 1.13vw;
    margin-left: 0.31vw;
  }
  .main-section__content {
    margin-top: 1.88vw;
    padding-bottom: 6.25vw;
  }
  .main-section__content > *:not(:first-child) {
    margin-top: 0.94vw;
  }
  .main-section__title {
    font-size: 3.13vw;
  }
  .main-section__first-text {
    font-size: 1.37vw;
  }
  .main-section__second-text {
    font-size: 1.37vw;
  }
}
@media (max-width: 767px) {
  .main-section {
    min-height: 30.19vw;
  }
  .main-section__bread-crumbs {
    padding-top: 1.37vw;
  }
  .bread-crumbs__prev-page {
    font-size: 2.13vw;
  }
  .main-section__bread-crumbs {
    font-size: 2.13vw;
  }
  .bread-crumbs__this-page {
    font-size: 2.13vw;
    margin-left: 0.31vw;
  }
  .main-section__content {
    margin-top: 1.88vw;
    padding-bottom: 6.25vw;
  }
  .main-section__content > *:not(:first-child) {
    margin-top: 2.94vw;
  }
  .main-section__title {
    font-size: 5.13vw;
  }
  .main-section__first-text {
    font-size: 3.37vw;
  }
  .main-section__second-text {
    font-size: 3.37vw;
  }
}
/*********************************
*******catalog adaption***********
*********************************/
@media (max-width: 1600px) {
  .catalog__item {
    width: 22.1vw;
    min-height: 20vw;
    border-radius: 0.25vw;
  }
  .catalog {
    min-height: 45.38vw;
    padding: 2.13vw 0 2vw 0;
  }
  .catalog__item-bigger {
    width: 46.4vw;
    box-shadow: 0px 0.25vw 1.88vw rgba(0, 0, 0, 0.07);
  }
  .catalog__container {
    gap: 1.25vw;
  }
  .catalog__rail-image-wrapper {
    width: 31.38vw;
    top: 1.31vw;
    right: 0.94vw;
  }
  .catalog__image-wrapper {
    width: 14.31vw;
    top: 0.63vw;
    right: 1.25vw;
    padding-bottom: 70%;
  }
  .catalog__text {
    bottom: 3.13vw;
    left: 2.5vw;
    font-size: 1.44vw;
  }
  .catalog__text.catalog__rail-text {
    width: 18.13vw;
    min-height: 3.38vw;
    border-radius: 0.25vw;
    padding: 0.75vw 2.5vw;
    bottom: 2.25vw;
    left: 2.38vw;
    font-size: 1.56vw;
  }
  .catalog__text:after {
    width: 7vw;
    height: 0.13vw;
    top: 0.88vw;
  }
  .catalog__trinagle {
    width: 12.31vw;
    height: 14.38vw;
  }
}
@media (max-width: 771px) {
  .catalog__item-bigger {
    width: 46vw;
  }
}
@media (max-width: 767.9px) {
  /*умножаю на 2*/
  .catalog__item {
    width: 47.26vw;
    min-height: 40vw;
    border-radius: 0.5vw;
  }
  .catalog {
    min-height: 90.76vw;
    padding: 4.26vw 0 4vw 0;
  }
  .catalog__item-bigger {
    width: 97vw;
    box-shadow: 0px 0.5vw 3.76vw rgba(0, 0, 0, 0.07);
  }
  .catalog__container {
    gap: 2.5vw;
  }
  .catalog__rail-image-wrapper {
    width: 62.76vw;
    top: 2.62vw;
    right: 1.88vw;
  }
  .catalog__image-wrapper {
    width: 25.62vw;
    top: 0.26vw;
    right: 3.5vw;
  }
  .catalog__text {
    bottom: 6.26vw;
    left: 5vw;
    font-size: 3.88vw;
  }
  .catalog__text.catalog__rail-text {
    width: 37.26vw;
    min-height: 10.76vw;
    border-radius: 0.8vw;
    padding: 1.5vw 2vw;
    bottom: 4.5vw;
    left: 4.76vw;
    font-size: 4.12vw;
  }
  .catalog__text:after {
    width: 18vw;
    height: 0.5vw;
    top: 1.76vw;
  }
  .catalog__trinagle {
    width: 24.62vw;
    height: 26.76vw;
    right: -0.8vw;
  }
}
/*************************
*******vin adaption*******
**************************/
@media (max-width: 1600px) {
  .vin {
    padding: 3.56vw 0;
  }
  .vin__container {
    min-height: 34.56vw;
  }
  .vin__content-wrapper {
    padding: 2.19vw;
  }
  .vin__forms {
    width: 43.19vw;
    min-height: 30.19vw;
    border-radius: 0.25vw;
    padding: 2.63vw 5vw;
  }
  .vin__text-content {
    width: 45.44vw;
  }
  .vin__form-name {
    font-size: 1.37vw;
    margin-bottom: 0.56vw;
  }
  .vin__big-form {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0.25vw 1.25vw rgba(0, 0, 0, 0.02);
    border-radius: 0.25vw;
    width: 33vw;
    height: 3.25vw;
    padding: 0 1.25vw;
    font-size: 1.13vw;
  }
  .vin__text-forms > *:not(:first-child) {
    margin-top: 0.56vw;
  }
  .vin__small-form {
    box-shadow: 0px 0.25vw 1.25vw rgba(0, 0, 0, 0.02);
    border-radius: 0.25vw;
    padding: 0 1vw;
    width: 15.13vw;
    height: 3.19vw;
    font-size: 1.13vw;
  }
  .vin__submit {
    font-size: 1.25vw;
    margin-left: 1.06vw;
  }
  .vin__button {
    width: 33vw;
    height: 4.13vw;
    box-shadow: 0px 0.25vw 0.88vw rgba(0, 0, 0, 0.04);
    border-radius: 0.25vw;
    margin-top: 1.06vw;
  }
  .vin__mark {
    width: 1.81vw;
    height: 1.37vw;
  }
  .vin__warn {
    font-size: 1vw;
    margin-top: 1vw;
  }
  .vin__title {
    font-size: 3.13vw;
  }
  .vin__text-wrapper > *:not(:first-child) {
    margin-top: 1vw;
  }
  .vin__text {
    font-size: 1.44vw;
    max-width: 22.5vw;
  }
}
@media (max-width: 767.9px) {
  .vin__content-wrapper {
    flex-direction: column-reverse;
    padding: 3.19vw;
  }
  .vin__forms {
    width: 90.19vw;
    border-radius: 0.75vw;
    padding: 3.63vw 6vw;
  }  
  .vin__form-name {
    font-size: 3.37vw;
    margin-bottom: 1.2vw;
  }
  .vin__big-form {
    border-radius: 0.75vw;
    width: 78vw;
    height: 8.25vw;
    padding: 0 2.25vw;
    font-size: 2.8vw;
  }
  .vin__text-forms > *:not(:first-child) {
    margin-top: 1.56vw;
  }
  .vin__small-form {
    border-radius: 0.75vw;
    padding: 0 2.25vw;
    width: 36.13vw;
    height: 8.19vw;
    font-size: 2.8vw;
  }
  .vin__button {
    width: 78vw;
    height: 9.13vw;
    border-radius: 1vw;
    margin-top: 3.06vw;
  }
  .vin__submit {
    font-size: 4.25vw;
    margin-left: 3.06vw;
  }
  .vin__mark {
    width: 3.81vw;
    height: 3.37vw;
  }
  .vin__warn {
    font-size: 3vw;
    margin-top: 3vw;
  }
  .vin__text-content {
    width: 89.44vw;
    margin-bottom: 5vw;
  }
  .vin__text {
    font-size: 4.44vw;
    max-width: 70.5vw;
  }
  .vin__title {
    font-size: 7.13vw;
  }
}
/********************************************
*************about-us adaption***************
********************************************/
@media (max-width: 1600px) {
  .about-us {
    min-height: 29.31vw;
    padding: 1.63vw 0;
  }
  .about-us__text-content > *:not(:first-child) {
    margin-top: 1.13vw;
  }
  .about-us__title {
    font-size: 2.06vw;
  }
  .about-us__title:after {
    width: 7vw;
    height: 0.13vw;
    margin-top: 1.13vw;
  }
  .about-us__main-text {
    font-size: 1.37vw;
    max-width: 40.31vw;
  }
  .about-us__sub-main-text {
    font-size: 1.37vw;
    max-width: 45.63vw;
  }
  .about-slider__img-wrapper {
    min-width: 47.5vw;
    max-width: 47.5vw;
  }
  .about-us__img-content {
    width: 47.5vw;
  }
  .about-slider__buttos {
    bottom: 0.63vw;
    left: 0.69vw;
    backdrop-filter: blur(0.13vw);
  }
  .about-slider__prev-button, .about-slider__next-button {
    width: 5.5vw;
    height: 4.75vw;
  }
  .about-slider__prev-button {
    border-right: 0.06vw solid #FFFFFF;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.25vw;
  }
}
@media (max-width: 767.9px) {
  .about-us__container {
    flex-direction: column;
  }
  .about-us__title {
    font-size: 6.06vw;
  }
  .about-us__title:after {
    width: 20vw;
    height: 0.8vw;
  }
  .about-us__main-text {
    font-size: 4vw;
    max-width: 95.31vw;
  }
  .about-us__sub-main-text {
    font-size: 4vw;
    max-width: 95.63vw;
  }
  .about-us__text-content > *:not(:first-child) {
    margin-top: 2.13vw;
  }
  .about-slider__img-wrapper {
    min-width: 90.5vw;
    max-width: 90.5vw;
  }
  .about-us__img-content {
    width: 90.5vw;
    margin-top: 4vw;
  }
  .about-slider__prev-button, .about-slider__next-button {
    backdrop-filter: blur(0.13vw);
    height: 10.75vw;
    width: 14.5vw;
  }
  .about-slider__buttos {
    bottom: 1.63vw;
    left: 2.69vw;
  }
  .about-slider__prev-button, .about-slider__next-button {
    width: 14.5vw;
    height: 11.75vw;
  }
  .about-slider__prev-button {
    border-right: 0.06vw solid #FFFFFF;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 4.25vw;
  }
}
/**************************************
***********delivery adaption***********
**************************************/
@media (max-width: 1600px) {
  .delivery {
    padding: 3.13vw 0 5.81vw 0;
  }
  .delivery__title {
    font-size: 2.06vw;
  }
  .delivery__list {
    margin-top: 2.44vw;
    gap: 1.25vw;
  }
  .delivery__item {
    width: 45.5vw;
    min-height: 28.63vw;
    border-radius: 0.25vw;
    padding: 2.44vw 3vw 0 3vw;
  }
  .delivery-item__text-content > *:not(:first-child) {
    margin-top: 2.44vw;
  }
  .delivery-item__image-wrapper {
    width: 12.69vw;
  }
  .delivery-item__title {
    font-size: 1.88vw;
    margin-left: 2.25vw;
  }
  .delivery-item__mark {
    width: 1.06vw;
    height: 0.81vw;
  }
  .delivery-item__options > li:not(:first-child) {
    margin-top: 0.75vw;
  }
  .delivery-item__text {
    font-size: 1.37vw;
    margin-left: 1.37vw;
  }
  .delivery-item__trinagle {
    width: 22.13vw;
    height: 28.63vw;
  }
  .delivery-item__button {
    width: 14.63vw;
    min-height: 3.13vw;
    border-radius: 0.25vw;
    padding: 0.88vw 4.06vw;
    bottom: 3.25vw;
    font-size: 1.13vw;
  }
  .delivery-item__text-content {
    min-height: 23vw;
    padding-bottom: 7.5vw;
  }
}
@media (max-width: 767.9px) {
  .delivery__list {
    flex-direction: column;
  }
  .delivery__title {
    font-size: 4.06vw;
  }
  .delivery__item {
    width: 97.5vw;
    min-height: 28.63vw;
    border-radius: 1vw;
    padding: 3.44vw 4vw 0 4vw;
  }
  .delivery-item__image-wrapper {
    width: 25.69vw;
  }
  .delivery-item__title {
    font-size: 3.88vw;
    margin-left: 4.25vw;
  }
  .delivery-item__mark {
    width: 4.06vw;
    height: 3.81vw;
  }
  .delivery-item__text {
    font-size: 4.3vw;
    margin-left: 2.37vw;
  }
  .delivery-item__options > li:not(:first-child) {
    margin-top: 2.75vw;
  }
  .delivery-item__button {
    width: 34.63vw;
    min-height: 8.13vw;
    border-radius: 1vw;
    padding: 1.88vw 4.06vw;
    bottom: 4.25vw;
    font-size: 3.13vw;
  } 
  .delivery-item__trinagle {
    width: 46.13vw;
    height: 58.63vw;
    border-radius: 0vw 0vw 0vw 2vw;
  }
  .delivery-item__text-content {
    min-height: 64vw;
    padding-bottom: 14vw;
  }
  .delivery__list {
    gap: 3.25vw;
  }
}
/***********************************
**********footer adaption***********
***********************************/
@media (max-width: 1600px) {
  .footer-map__map {
    height: 40.63vw;
  }
  .footer-map__contact {
    padding: 2.75vw 2.75vw 3.06vw 2.75vw;
    width: 39.5vw;
    min-height: 33.06vw;
    border-radius: 0.25vw;
  }
  .footer-map__icon-wrapper {
    width: 2.25vw;
    height: 2.25vw;
    box-shadow: 0px 0.25vw 0.63vw rgba(0, 0, 0, 0.05);
  }
  .footer-map__title {
    font-size: 2.5vw;
  }
  .footer-map__contact-list {
    margin-top: 1.5vw;
  }
  .footer-map__contact-list > *:not(:first-child) {
    margin-top: 1.25vw;
  }
  .contact__text-content {
    margin-left: 1.19vw;
  }
  .adress__icon {
    width: 1.02vw;
    height: 1.2vw;
  }
  .phones__icon {
    width: 1.06vw;
    height: 1.06vw;
  }
  .mail__icon {
    width: 0.89vw;
    height: 0.69vw;
  }
  .time__icon {
    width: 0.94vw;
    height: 0.94vw;
  }
  .contact__title {
    font-size: 1.13vw;
    margin-bottom: 8px;
  }
  .contact__contact {
    font-size: 1.13vw;
  }
  .phones__phone {
    font-size: 1.13vw;
  }
  .footer__middle {
    min-height: 11.5vw;
    padding-top: 2.63vw;
    padding-bottom: 3.69vw;
  }
  .footer-middle__logo-img {
    width: 16.44vw;
    height: 4.13vw;
  }
  .footer-middle__logo-wrapper {
    padding-right: 1.69vw;
    border-right: 0.06vw solid #FFFFFF;
  }
  .footer-middle__contact {
    margin: 0 3.31vw 0 2.75vw;
    min-height: 5.81vw;
  }
  .footer-middle-contact__image-wrapper {
    width: 2.25vw;
    height: 2.25vw;
    box-shadow: 0px 0.25vw 0.63vw rgba(0, 0, 0, 0.05);
    margin-right: 1.13vw;
  }
  .footer-middle-contact__data-number {
    font-size: 1.37vw;
  }
  .footer-middle-contact__call-order {
    width: 15.87vw;
    height: 3.13vw;
    border-radius: 0.25vw;
    padding: 0.88vw 1.25vw;
    margin-left: 3.19vw;
    font-size: 1.13vw;
  }
  .footer-middle-contact__data {
    font-size: 1.13vw;
  }
  .footer-middle__filial-info {
    min-height: 6.38vw;
  }
  .filial-info__text {
    font-size: 1vw;
  }
  .filial-info__text-graphick {
    font-size: 1vw;
  }
  .footer-middle__social-media {
    margin-left: 4.44vw;
  }
  .social-media__list {
    width: 15.56vw;
    margin-top: 1.5vw;
  }
  .social-media__text {
    font-size: 1vw;
  }
  .social-media__link {
    width: 2.69vw;
    height: 2.75vw;
  }
  .footer-bottom {
    min-height: 3.13vw;
    padding: 0.5vw 0 0.5vw 0;
  }
  .footer-bottom__text.left-text {
    max-width: 29.19vw;
  }
  .footer-bottom__text {
    font-size: 0.75vw;
  }

  .footer-middle-contact__phone-icon {
    width: 1.06vw;
    height: 1.06vw;
  }
  .footer-middle-contact__mail-icon {
    width: 0.88vw;
    height: 0.69vw;
  }
  .filial-info__locate-icon {
    width: 1vw;
    height: 1.19vw;
  }
  .filial-info__watch-icon {
    width: 0.94vw;
    height: 0.94vw;
  }

  .social-media__vk-icon {
    width: 1.5vw;
    height: 1.88vw;
  }
  .social-media__ok-icon {
    width: 0.81vw;
    height: 1.37vw;
  }
  .social-media__skype-icon {
    width: 1.44vw;
    height: 1.44vw;
  }
}
@media (max-width: 767.9px) {
  .footer-map__map {
    display: none;
  }
  .footer-bottom {
    min-height: 3.13vw;
    padding: 3.5vw 0 3.5vw 0;
  }
  .footer-map {
    min-height: 65.63vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7vw;
  }
  .footer-map__title {
    font-size: 4.5vw;
  }
  .footer-map__contact {
    position: relative;
    transform: none;
    padding: 4.75vw 4.75vw 4.06vw 3.75vw;
    width: 75.5vw;
    min-height: 58.06vw;
    border-radius: 1.25vw;
  }

  .adress__icon {
    width: 4.02vw;
    height: 4.2vw;
  }
  .phones__icon {
    width: 4.06vw;
    height: 4.06vw;
  }
  .mail__icon {
    width: 3.89vw;
    height: 3.69vw;
  }
  .time__icon {
    width: 3.94vw;
    height: 3.94vw;
  }
  .contact__title {
    font-size: 3.13vw;
    margin-bottom: 1.04vw;
  }
  .contact__contact {
    font-size: 3.13vw;
  }
  .phones__phone {
    font-size: 2.13vw;
  }
  .footer-map__icon-wrapper {
    width: 7.25vw;
    height: 7.25vw;
    box-shadow: 0px 0.25vw 0.63vw rgb(0 0 0 / 5%);
  }

  .footer-middle__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-middle__contact {
    margin: 0 3.31vw 0 0vw;
    min-height: 18.81vw;
  }
  .footer-middle__container > *:not(:first-child) {
    margin-top: 4vw;
  }
  .footer-middle__logo-img {
    width: 53.44vw;
    height: 18.13vw;
  }
  .footer-middle__logo-wrapper {
    border-right: none;
  }
  .footer-middle-contact__image-wrapper {
    width: 8.25vw;
    height: 8.25vw;
  }
  .footer-middle-contact__phone-icon {
    width: 4.06vw;
    height: 4.06vw;
  } 
  .footer-middle-contact__mail-icon {
    width: 3.88vw;
    height: 3.69vw;
  }
  .footer-middle-contact__data {
    font-size: 3.7vw;
  }
  .footer-middle-contact__data-number {
    font-size: 4.37vw;
  }
  .footer-middle-contact__call-order {
    width: 30.87vw;
    height: 9.13vw;
    border-radius: 1vw;
    margin-left: 15.19vw;
    font-size: 3.1vw;
  }
  .filial-info__locate-icon {
    width: 4vw;
    height: 4.19vw;
  }
  .filial-info__watch-icon {
    width: 3.94vw;
    height: 3.94vw;
  }
  .filial-info__text {
    font-size: 3.5vw;
  }
  .filial-info__text-graphick {
    font-size: 3vw;
  }
  .footer-middle__filial-info {
    min-height: 19.38vw;
  }
  .social-media__text {
    font-size: 5vw;
  }
  .social-media__list {
    width: 35.56vw;
    margin-top: 1.5vw;
  }
  .social-media__link {
    width: 9.69vw;
    height: 9.75vw;
  }
  .social-media__vk-icon {
    width: 4.5vw;
    height: 4.88vw;
  }
  .social-media__ok-icon {
    width: 4.81vw;
    height: 4.37vw;
  }
  .social-media__skype-icon {
    width: 4.44vw;
    height: 4.44vw;
  }
  .footer-bottom__container {
    min-height: 14vw;
    align-items: center;
  }
  .footer-bottom__text {
    font-size: 1.5vw;
  }
  .footer-bottom__text.left-text {
    max-width: 100%;
    text-align: center;
    font-size: 3.5vw;
  }
  .footer-bottom__text.right-text {
    display: none;
  }
}