/********************************
*************header**************
********************************/
.header__top {
  padding: 26px 0;
}
.header-top__container {
  display: flex;
  align-items: center;
}
.header-top__logo {
  display: flex;
  align-items: center;
  margin-right: 33px;
}
.header-logo__icon {
  width: 78px;
  height: 67px;
}
.header-logo__words {
  width: 247px;
  height: 39px;
}
.header-logo__sub-title {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #424242;
  max-width: 214px;
}
.header-top__city {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 15px;
}
.header-top__city-and-schedule {
  display: flex;
  justify-content: space-between;
  width: 367px;
  align-items: center;
  margin-right: 38px;
}
.header-city__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-city__icon {
  width: 23px;
  height: 23px;
}
.header-city__choice {
  margin-left: 11px;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 18px;
  line-height: 127%;
  color: #424242;
  border-bottom: 1px dashed #000000;
  margin-right: 11px;
}
.header-top__schedule {
  display: flex;
  align-items: center;
}
.header-schedule__icon {
  width: 23px;
  height: 23px;
  margin-right: 17px;
}
.header-schedule__text-wrapper {
  max-width: 160px;
}
.header-schedule__title {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #424242;
}
.header-schedule__value {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #909090;
}
.header-top__social-media {
  display: flex;
  justify-content: space-between;
  width: 124px;
  margin-right: 15px;
  align-items: center;
}
.header-social-media__link {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;  
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.03);
}
.header-top__call {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 20px;
  min-width: 262px;
  max-width: 295px;
  height: 54px;
  background: #E94F1D;
  border-radius: 30px;
  margin-right: 15px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.03));
}
.header-call__icon {
  width: 30px;
  height: 30px;
  margin-right: 14px;
}
.header-call__text {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 22px;
  line-height: 127%;
  color: #FFFFFF;
}
.header-top__login-and-cart {
  display: flex;
}
.header-top__menu-icon {
  display: none;
}
.header-top__login {
  display: flex;
  align-items: center;
}
.header-login__icon-wrapper {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
}
.header-top__login {
  padding-right: 25px;
  border-right: 1px solid #D9D9D9;
  cursor: pointer;
}
.header-login__text {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #424242;
}
.header-top__cart {
  display: flex;
  align-items: center;
  margin-left: 31px;
  cursor: pointer;
}
.header-cart__icon-wrapper {
  width: 52px;
  height: 52px;
  background: #E94F1D;
  border-radius: 50%;
  box-shadow: 0px 10px 40px rgba(233, 79, 29, 0.07);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}
.header-cart__product-counter {
  min-width: 16px;
  min-height: 16px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 9px;
  line-height: 133%;
  color: #E94F1D;
  position: absolute;
  top: 10px;
  right: 9px;
}
.header-cart__text-wrapper {
  min-height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-cart__text {
  font-family: 'TT Firs Neue';
  font-weight: 700;
  font-size: 14px;
  line-height: 128%;
  color: #E94F1D;
}
.header-cart__sum {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #424242;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.menu__list > li {
  height: 60px;
  display: flex;
  align-items: center;
}
.menu__list > li:not(:last-child), .menu__list > li:not(:first-child) {
  display: flex;
  justify-content: center;
}
.menu__list > li:last-child {
  display: flex;
  justify-content: flex-end;
}
.menu__list > li:first-child {
  display: flex;
  justify-content: flex-start;
}
.menu__link._active {
  text-shadow: 0 0 .9px #333, 0 0 .9px #333;
}
.menu__link._active:before {
  content: "";
  width: 73px;
  height: 4px;
  background: #E94F1D;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.menu__link {
  position: relative;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  color: #424242;
  height: 60px;
  display: flex;
  align-items: center;
}
.menu__link:hover {
  text-shadow: 0 0 .9px #333, 0 0 .9px #333;
}
.menu__link:hover:before {
  content: "";
  width: 73px;
  height: 4px;
  background: #E94F1D;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header-social-media__icon {
  width: 28px;
  height: 28px;
}
.header-login__icon {
  width: 31px;
  height: 31px;
}
.header-cart__icon {
  width: 24px;
  height: 24px;
}
.header__menu {
  border-top: 1px solid #E9E9E9;
}
.menu__container {
  min-height: 60px;
}
.header-top__city-and-schedule-mobile {
  display: none;
}
.header-login-mobile {
  display: none;
}
.header-social-media-mobile {
  display: none;
}
body._lock {
  overflow: hidden;
}
.header-top__info-wrapper {
  display: flex;
  align-items: center;
}
/********************************
**********events*****************
********************************/
.events {
  padding-bottom: 35px;
}
.events__swiper-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}
.events__slide {
  width: max-content;
}
.events__image {
  border-radius: 30px;
}
.events__image {
  width: 500px;
  height: 260px;
  user-select: none;
}
.events__image:hover {
  filter: contrast(1.2)
}
.events__prev, .events__next {
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  color: #B5B1B1;
} 
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 0;
}
.events__prev:after, .events__next:after {
  font-size: 15px;
}
.events__next.swiper-button-disabled, .events__prev.swiper-button-disabled {
  opacity: 0;
}
/*********************************
************benefits**************
*********************************/
.benefits {
  min-height: 225px;
}
.benefits__container {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 29px 0;
  border-top: 1px solid #E9E9E9;
  gap: 30px;
  flex-wrap: wrap;
}
.benefits__time-item {
  max-width: 210px;
}
.benefits__terms-item, .benefits__pickup-item {
  max-width: 268px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits__time-img {
  width: 57px;
  height: 39px;
}
.benefits__terms-img {
  width: 42px;
  height: 42px;
}
.benefits__pickup-img {
  width: 43px;
  height: 46px;
}
.benefits__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 18px;
  line-height: 127%;
  color: #424242;
  margin-top: 17px;
}
.benefits__text {
  margin-top: 5px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
  text-align: center;
}
.benefits__button {
  width: 184px;
  min-height: 36px;
  border: 1px solid #E94F1D;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #E94F1D;
  margin-top: 12px;
}
/********************************
***********food-menu*************
********************************/
.category__slide {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.category__swiper-wrapper > .category__item:first-child {
  border-left: 1px solid #E9E9E9;
}
.category__swiper-wrapper > .category__item:last-child {
  border-right: 1px solid #E9E9E9;
}
.food-menu__category-and-filters {
  border-radius: 30px;
  padding-bottom: 50px;
}
.food-menu__container {
  border-bottom: 1px solid #E9E9E9;
}
.food-menu__category {
  border-radius: 30px 30px 0 0;
  border: 1px solid #E9E9E9;
  overflow: hidden;
}
.category__item {
  width: 256px;
  height: 135px;
  position: relative;
  margin-right: 0.2px;
}
.category__item:nth-child(even) {
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
}
.category__image-wrapper {
  position: absolute;
  left: 0;
  width: 111px;
}
.category__image-wrapper-inner {
  position: relative;
  padding-bottom: 94%;
}
.category__food-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}
.category__name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 137px;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 18px;
  line-height: 127%;
  color: #424242;
  max-width: 97px;
  user-select: none;
}
.category__item._active {
  background-color: #F4F5F7;
}
.category__item:hover {
  background-color: #F4F5F7;
}
.category__item:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: #E94F1D;
}
.category__item._active:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: #E94F1D;
}
.food-menu {
  padding: 29px 0 0 0;
}
.category__prev:after, .category__next:after {
  font-size: 15px;
}
.category__prev, .category__next {
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.07);
  color: #B5B1B1;
} 
.category__prev.swiper-button-disabled, .category__next.swiper-button-disabled {
  opacity: 0.85;
}
.filters__buttons {
  padding: 42px 0;
  display: flex;
}
.filters__ingredients {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 39px;
  user-select: none;
}
.ingredients__icon-wrapper, .price__icon-wrapper {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #E94F1D;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
}
.ingredients__text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #6C6C6C;
  transition: all 0.5s ease 0s;
  margin-left: 24px;
}
.ingredients__text._active {
  color: #E94F1D;
  text-shadow: 0 0 .9px #E94F1D, 0 0 .9px #E94F1D;
}
.ingredients__icon-wrapper._active {
  background-color: #E94F1D;
}
.ingredients__icon {
  position: absolute;
  width: 13px;
  height: 13px;
  transition: all 0.5s ease 0s;
}
.ingredients__icon-orange {
  z-index: 2;
}
.ingredients__icon-orange._active {
  opacity: 0;
  visibility: hidden;
}
.filters__price {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.price__text-wrapper {
  display: flex;
  align-items: center;
}
.price__text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #6C6C6C;
  border-bottom: 1px solid #D9D9D9;
  margin-right: 11px;
  margin-left: 24px;
}
.price__icon {
  width: 17px;
  height: 12px;
}
.price__arrow {
  width: 14px;
  height: 14px;
}
.filters__filtres {
  display: none;
}
.filters__filtres._active {
  display: block;
}
.food-menu__filters._active {
  background-color: #F4F5F7;
  border-radius: 0 0 20px 20px;
  margin-bottom: 39px;
  padding: 0 26px 18px 26px;
}
.food-menu__filters {
  transition: all 0.3s ease 0s;
}
.filters__wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters__list {
  display: flex;
  gap: 14px;
  margin-right: 30px;
  max-width: 1162px;
  flex-wrap: wrap;
}
.filters__item {
  display: flex;
  align-items: center;
  width: 154px;
  min-height: 42px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 13px 14px 13px 26px;
  position: relative;
  cursor: pointer;
}
.filters__delete-icon {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 14px;
}
.filters__button {
  display: none;
}
.filters__item-text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #6C6C6C;
  display: flex;
  align-items: center;
  transition: all 0.2s ease 0s;
  user-select: none;
}
.filters__button:checked + .filters__item-text {
  color: #72BF2B;
  margin-left: 18px;
}
.filters__item {
  position: relative;
}
.filters__button:checked + .filters__item::before {
  content: url(../img/food-menu/mark.svg);
  top: 0;
  bottom: 0;
  margin: auto;
  width: 19px;
  height: 19px;
  position: absolute;
}
.filters__button:checked + .filters__item-text:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #72BF2B;
  border-radius: 20px;
  left: 0;
  top: 0;
}
.filters__reset-input {
  display: none;
}
.filters__reset {
  display: flex;
  align-items: center;
  width: 235px;
  height: 42px;
  background: rgba(255, 255, 255, 0.74);
  border-radius: 20px;
  padding: 10px 28px;
  justify-content: space-between;
  cursor: pointer;
  max-width: 290px;
}
.filters__reset-icon-wrapper {
  min-width: 22px;
  height: 22px;
  border: 1px solid #E94F1D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}
.filters__reset-text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #E94F1D;
  user-select: none;
}
.filters__reset-icon {
  width: 10px;
  height: 10px;
}
.food-list__rolls-item {
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  max-width: 369px;
  height: max-content;
  overflow: hidden;
}
.rolls-item__img-wrapper {
  width: 369px;
  position: relative;
}
.rolls-item__img-wrapper-inner {
  position: relative;
  padding-bottom: 79.7%;
}
.rolls-item__photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rolls-item__status {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 78px;
  height: 34px;
}
.rolls-item__text-wrapper {
  padding: 17px 24px 20px 24px;
  position: relative;
  min-height: 192px;
}
.rolls-item__text-content > *:not(:first-child) {
  margin-top: 13px;
}
.rolls-item__name {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #424242;
}
.rolls-item__weight {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #A7A7A7;
}
.rolls-item__product-info > *:not(:first-child) {
  margin-top: 3px;
}
.rolls-item__description {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #676767;
}
.rolls-item__buy-info {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  width: 322px;
  justify-content: space-between;
}
.rolls-item__text-content {
  margin-bottom: 62px;
}
.rolls-item__price {
  font-family: 'TT Firs Neue';
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #424242;
}
.rolls-item__price-sum {
  font-family: 'TT Firs Neue';
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  color: #424242;
}
.rolls-item__buy-button {
  width: 166px;
  min-height: 42px;
  background: #E94F1D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 11px 40px;
  justify-content: center;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 131%;
  color: #FFFFFF;
}
.rolls-item__cart {
  width: 19px;
  height: 19px;
  margin-right: 11px;
}
.food-list__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.food-list__button {
  width: 262px;
  height: 54px;
  border: 1px solid #E94F1D;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #E94F1D;
}
.food-list__button-wrapper {
  margin-top: 57px;
  display: flex;
  justify-content: center;
}
.food-list__wok-item {
  width: 370px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  overflow: hidden;
}
.wok-item__img-wrapper {
  width: 370px;
  position: relative;
}
.wok-item__img-wrapper-inner {
  position: relative;
  padding-bottom: 88.3%;
}
.wok-item__photo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.wok-item__status {
  position: absolute;
  top: 21px;
  left: 32px;
  width: 123px;
  height: 34px;
}
.wok-item__text-wrapper {
  padding: 19px 25px 20px 24px;
  min-height: 344px;
  position: relative;
}
.wok-item__customisation {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
.wok-item__customisation > *:not(:first-child) {
  margin-top: 14px;
}
.wok-item__custom-item {
  width: 100%;
  min-height: 42px;
  appearance: none;
  outline: none;
  background: #F4F5F7;
  border-radius: 20px;
  padding: 0 17px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #7A7979;
  position: relative;
  cursor: pointer;
}
.wok-item__custom-item-wrapper {
  position: relative;
}
.wok-item__custom-item-wrapper:after {
  content: url(../img/food-menu/arrow.svg);
  position: absolute;
  width: 13px;
  height: 13px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
}
.wok-item__text-content {
  margin-bottom: 72px;
}
/************************************************
*********************about-us********************
************************************************/
.about-us {
  padding: 57px 0 78px 0;
}
.about-us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us__title {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #424242;
}
.values__slogan {
  font-family: 'TT Firs Neue';
  font-weight: 700;
  font-size: 19px;
  line-height: 131%;
  color: #E94F1D;
}
.about-us__values {
  margin-top: 10px;
}
.values__list {
  display: flex;
  margin-top: 25px;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-us__text-content {
  max-width: 637px;
}
.values__icon-wrapper {
  width: 60px;
  height: 60px;
  background: #E94F1D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.values__item {
  display: flex;
  align-items: center;
}
.values__icon-medal {
  width: 27.5px;
  height: 37px;
}
.values__icon-rocket-and-smile {
  width: 31px;
  height: 31px;
}
.values__text {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #424242;
}
.about-us__text-wrapper {
  margin-top: 30px;
}
.about-us__text-wrapper > *:not(:first-child) {
  margin-top: 20px;
}
.about-us__text {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
}
.about-us__button {
  margin-top: 40px;
  width: 262px;
  min-height: 64px;
  border: 1px solid #E94F1D;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #E94F1D;
  padding: 19px 88px;
}
.about-us__image {
  width: 802px;
  height: 483px;
}
/************************************
**************feedback***************
************************************/
.feedback {
  width: 100%;
  background-image: url(../img/feedback/bg.svg);
  min-height: 516px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.feedback__rolls1 {
  position: absolute;
  left: 0;
  bottom: 9px;
  width: 350px;
  height: 256px;
}
.feedback__rolls2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 311px;
  height: 459px;
}
.feedback__container {
  position: relative;
  min-height: 516px;
}
.feedback__girl {
  position: absolute;
  z-index: 0;
  left: 419px;
  bottom: 0;
  bottom: -30px;
  width: 590px;
  height: 520px;
}
.feedback__content-wrapper {
  position: relative;
  z-index: 2;
  width: 1435px;
  display: flex;
  justify-content: space-between;
  padding: 93px 0 104px 0;
}
.feedback__title {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 52px;
  line-height: 128%;
  color: #FFFFFF;
}
.feedback__message {
  width: 354px;
  height: 163px;
  margin-top: 9px;
}
.feedback__form-content {
  max-width: 488px;
}
.feedback__name-and-phone {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.feedback__name-and-phone-form {
  width: 240px;
  height: 48px;  
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 15px 20px;
  outline: none;
}
.feedback__form-content > *:not(:first-child) {
  margin-top: 10px;
}
.feedback__name-and-phone-form::placeholder, .feedback__message-form::placeholder {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  color: #FFFFFF;
  opacity: 1;
}
.feedback__name-and-phone-form, .feedback__message-form {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
}
.feedback__email-and-appeal {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.feedback__appeal-wrapper {
  display: flex;
  align-items: center;
}
.feedback__appeal-text {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  margin-right: 15px;
}
.feedback__appeal {
  appearance: none;
  outline: none;
  width: 125px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 0 10px 17px;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  cursor: pointer;
}
.feedback__appeal-select-wrapper {
  position: relative;
}
.feedback__appeal-select-wrapper:after {
  content: url(../img/feedback/arrow.svg);
  width: 13px;
  height: 13px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.feedback__message-form {
  resize: none;
  width: 488px;
  height: 93px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  outline: none;
  padding: 12px 20px;
}
.feedback__file-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.feedback__file {
  display: none;
}
.feedback__file-icon-wrapper {
  width: 70px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
  margin-right: 15px;
}
.feedback__file-text {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
}
.feedback__politic-and-submit {
  display: flex;
  align-items: center;
}
.politic__text {
  max-width: 238px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
  color: #FFFFFF;
  margin-right: 19px;
}
.feedback__submit {
  width: 231.2px;
  height: 54px;
  background: #FFFFFF;
  border-radius: 30px;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 131%;
  color: #424242;
  cursor: pointer;
}
.feedback__file-icon {
  width: 35px;
  height: 35px;
}
/*****************************************
***************footer*********************
*****************************************/
.footer__top {
  padding: 24px 0;
}
.footer-top__container {
  display: flex;
  align-items: center;
}
.footer-top__logo {
  display: flex;
  max-width: 334px;
}
.footer-logo__img {
  width: 78px;
  height: 67px;
}
.footer-logo__words {
  width: 247px;
  height: 39px;
}
.footer-logo__text {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.04em;
  color: #909090;
}
.footer-top__numbers-list {
  display: flex;
  margin: 0 33px 0 38px;
  width: 770px;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.footer-number__text-wrapper {
  display: flex;
  align-items: center;
}
.footer-number__adress-icon {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.footer-number__adres-text {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 14px;
  line-height: 128%;
  color: #E94F1D;
}
.footer-number__item > *:not(:first-child) {
  margin-top: 8px;
}
.footer-number__link {
  width: 230px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
  border: 1px solid #FAFAFA;
  border-radius: 30px;
}
.footer-number__icon {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}
.footer-number__text {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 131%;
  color: #424242;
}
.footer-top__schedule {
  display: flex;
  margin-right: 29px;
}
.footer-schedule__watch-icon {
  width: 23px;
  height: 23px;
  margin-right: 17px;
}
.footer-schedule__text-wrapper > *:not(:first-child) {
  margin-right: 6px;
}
.footer-schedule__title {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 14px;
  line-height: 128%;
  color: #424242;
}
.footer-schedule__text {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
}
.footer-social-media__text {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
}
.footer-social-media__links {
  min-width: 124px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 4px;
}
.footer-social-media__wrapper {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-menu {
  border-top: 1px solid #E9E9E9;
}
.footer-menu__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  min-height: 60px;
  flex-wrap: wrap;
}
.footer-menu__link {
  min-height: 60px;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  color: #424242;
  display: flex;
  align-items: center;
  position: relative;
}
.footer-menu__link:hover {
  text-shadow: 0 0 .9px #424242, 0 0 .9px #424242;
}
.footer-menu__link:hover:before {
  content: "";
  width: 73px;
  height: 4px;
  background: #E94F1D;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer__bottom {
  width: 100%;
  background: #F4F5F7;
}
.footer-bottom__container {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__site-links {
  width: 371px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom__site-link {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #424242;
}
.footer-bottom__dev-link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #9C9C9C;
}
.footer-social-media__icon {
  width: 24px;
  height: 24px;
}
.footer-top__schedule-and-social-media {
  display: flex;
  align-items: center;
}




/**************************************************************************************
*************************************promo page****************************************
**************************************************************************************/

/****************************************************
*********************promo***************************
****************************************************/
.promo {
  padding-bottom: 59px;
}
.promo__navigation {
  display: flex;
  padding: 3px 0;
}
.promo__prev-page, .promo__slesh, .promo__this-page {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #7A7979;
}
.promo__this-page {
  color: #E94F1D;
  font-weight: 600;
}
.promo__slesh {
  margin: 0 4px;
}
.promo__introduction-content > *:not(:first-child) {
  margin-top: 14px;
}
.promo__title {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #424242;
}
.promo__container > *:not(:first-child), .promo__container > *:not(:last-child) {
  margin-top: 21px;
}
.promo__container > *:last-child {
  margin-top: 76px;
}
.promo__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.promo__more-button, .promo__button {
  display: inline-block;
}
.promo__content-wrapper {
  margin-top: 11px;
}
.promo__content-wrapper > *:not(:first-child) {
  margin-top: 18px;
}
.promo__text-wrapper > *:not(:first-child) {
  margin-top: 2px;
}
.promo__img-wrapper {
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.promo__img-wrapper-inner {
  padding-bottom: 58.8%;
  position: relative;
}
.promo__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo__item-title {
  font-family: 'TT Firs Neue';
  font-weight: 700;
  font-size: 19px;
  line-height: 131%;
  color: #E94F1D;
}
.promo__item-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #424242;
}
.promo__item {
  max-width: 500px;
}
.promo__more-button {
  width: 242px;
  min-height: 42px;
  background: #E94F1D;
  border-radius: 20px;
  padding: 10px 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.promo__button {
  width: 262px;
  min-height: 54px;
  border: 1px solid #E94F1D;
  border-radius: 30px;
  padding: 16px 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__arrow {
  margin-right: 12px;
  width: 30px;
  height: 8px;
}
.promo__button > span {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #E94F1D;
}
/***************************************************************************************
*********************************delivery-info page*************************************
***************************************************************************************/

/***************************************
**************delivery-info*************
***************************************/
.delivery-info__text-content > *:not(:first-child) {
  margin-top: 27px;
}
.delivery-info__text-content > *:last-child {
  margin-top: 64px;
}
.delivery-terms__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #424242;
}
.delivery-info__terms > *:not(:first-child) {
  margin-top: 17px;
}
.delivery-info__terms {
  padding-bottom: 44px;
  border-bottom: 1px solid #E9E9E9;
  max-width: max-content;
}
.delivery-terms__list {
  max-width: 1150px;
  gap: 20px;
  display: flex;
}
.delivery-terms__item {
  width: 370px;
  min-height: 264px;
  background-color: #F4F5F7;
  border-radius: 20px;
  padding: 33px 51px 39px 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.delivery-terms__item > *:not(:first-child), .delivery-terms__item > *:not(:last-child) {
  margin-top: 10px;
}
.delivery-terms__item > *:last-child {
  position: absolute;
  bottom: 39px;
}
.delivery-terms__text-wrapper {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery-terms__text-wrapper > *:not(:first-child) {
  margin-top: 4px;
}
.delivery-terms__item-title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #424242;
}
.delivery-terms__text {
  text-align: center;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
}
.delivery-terms__icon-wrapper {
  width: 62px;
  height: 62px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.delivery-terms__button {
  width: 184px;
  min-height: 36px;
  background: #FFFFFF;
  border: 1px solid #E94F1D;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #E94F1D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-terms__icon-free, .delivery-terms__icon-pay {
  width: 36px;
  height: 36px;
}
.delivery-terms__icon-pickup {
  width: 35px;
  height: 37px;
}
.delivery-info__pay-terms > *:not(:first-child) {
  margin-top: 38px;
}
.pay-terms__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #424242;
}
.pay-terms__list {
  display: flex;
  gap: 95px;
}
.pay-terms__icon-wrapper {
  width: 62px;
  height: 62px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay-terms__icon {
  width: 36px;
  height: 36px;
}
.pay-terms__item > *:not(:first-child) {
  margin-top: 21px;
}
.pay-terms__text-content > *:not(:first-child) {
  margin-top: 4px;
}
.pay-terms__item-title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #424242;
}
.pay-terms__text {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
}
.pay-terms__text-cash {
  max-width: 238px;
}
.pay-terms__text-card {
  max-width: 327px;
}
.delivery-info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delivery-info__img {
  width: 770px;
  height: 538px;
  margin-right: -368px;
}


/***************************************************************************************
*********************************delivery-order page************************************
***************************************************************************************/

/***************************************
**************delivery-order************
***************************************/
.order__tabs {
  display: inline-flex;
  border: 1px solid #E9E9E9;
}
.order__tabs > *:not(:last-child) {
  border-right: 1px solid #E9E9E9;
}
.order__tab {
  width: 240px;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 19px 30px;
  position: relative;
}
.order__tab-icon-delivery {
  width: 47px;
  height: 47px;
}
.order__tab-icon-pickup {
  width: 36px;
  height: 38px;
}
.order__tab._active {
  background-color: #F4F5F7;
}
.order__tab:after {
  content: "";
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  background-color: #E94F1D;
  opacity: 0;
}
.order__tab._active:after {
  opacity: 1;
}
.order__tab-name {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #424242;
  margin-left: 30px;
  user-select: none;
}
.order__tab-name._active {
  text-shadow: 0 0 .8px #424242, 0 0 .8px #424242;
}
.order-tab {
  display: none;
}
.order-tab._active {
  display: block;
}
.delivery-order__order {
  max-width: 1000px;
  padding: 36px 44px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.delivery-order {
  padding-bottom: 37px;
}
.delivery-order__container > *:not(:first-child) {
  margin-top: 35px;
}
.delivery-order__container > *:last-child {
  margin-top: 87px;
}
.order__title {
  margin-bottom: 7px;
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #424242;
}
.order__user-data > *:not(:first-child) {
  margin-top: 21px;
}
.order__content {
  width: 480px;
}
.data-forms__big-wrapper {
  display: flex;
  justify-content: space-between;
}
.order__tab-delivery-content {
  margin-top: 21px;
}
.data-forms__name {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
}
.data-forms__name span {
  color: #FF0000;
}
.data-forms__form {
  width: 236px;
  height: 44px;
  background: #F4F5F7;
  border-radius: 30px;
  outline: none;
  padding: 0 17px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
}
.data-forms__form-wrapper > *:not(:first-child) {
  margin-top: 10px;
}
.data-forms__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #424242;
  margin-bottom: 11px;
}
.data-forms__form-small {
  width: 113px;
}
.data-forms__small-wrapper {
  display: flex;
  justify-content: space-between;
}
.order-tab__details > * {
  margin-top: 21px;
}
.order-details__adress-wrapper > *:not(:first-child) {
  margin-top: 18px;
}
.order-details__adress-title {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  color: #424242;
}
.order-details__adress-select-wrapper {
  position: relative;
  width: max-content;
}
.order-details__adress {
  width: 483px;
  height: 44px;
  background: #F4F5F7;
  border-radius: 30px;
  appearance: none;
  outline: none;
  padding: 0 17px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
  cursor: pointer;
}
.order-details__icon {
  width: 15px;
  height: 13px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.order-details__cutlery-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 214px;
}
.cutlery__text {
  max-width: 89px;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
}
.cutlery__counter {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 40px;
  background: #F4F5F7;
  border-radius: 30px;
}
.cutlery__counter-item {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #E94F1D;
  user-select: none;
  cursor: pointer;
  height: 28px;
}
.cutlery__counter-result {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #424242;
}
.order-time__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #424242;
}
.order-time__radio {
  display: none;
  /*position: absolute;
  opacity: 0;*/
}
.order-time__option {
  display: flex;
  align-items: center;
}
.order-time__fake {
  width: 17px;
  height: 17px;
  background-image: url(../img/pages/delivery-order/radio-off.svg);
  margin-right: 13px;
  background-size: cover;
}
.order-time__radio:checked + .order-time__fake {
  background-image: url(../img/pages/delivery-order/radio-on.svg);
}
.order-time__options > * {
  margin-top: 12px;
}
.order-time__time-wrapper._hidden {
  display: none;
}
.order-time__date-wrapper {
  position: relative;
  width: max-content;
}
.order-time__date {
  width: 183px;
  height: 40px;
  background: #F4F5F7;
  border-radius: 30px;
  appearance: none;
  outline: none;
  padding: 12px 19px;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #B5B1B1;
}
.order-time__date::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../img/pages/delivery-order/callendar.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.order-time__date::-ms-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../img/pages/delivery-order/callendar.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.order-time__date::-o-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../img/pages/delivery-order/callendar.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.order-time__date::-moz-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../img/pages/delivery-order/callendar.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.order-time__time {
  width: 110px;
  height: 40px;
  background: #F4F5F7;
  border-radius: 30px;
  padding: 12px 19px 9px 19px;
  appearance: none;
  outline: none;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #B5B1B1;
  cursor: pointer;
  margin-left: 8px;
}
.order-time__time-container {
  position: relative;
  width: max-content;
}
.order-time__icon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 15px;
  height: 16px;
}
.order-time__time-wrapper {
  margin-top: 16px;
}
.order__sidebar {
  width: 395px;
  min-height: 528px;
  height: max-content;
  background: #F4F5F7;
  border-radius: 20px;
  padding: 34px 37px 28px 37px;
  margin-top: 59px;
}
.pay-way__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #424242;
}
.pay-way__radio {
  display: none;
}
.pay-way__fake {
  width: 17px;
  height: 17px;
  background-image: url(../img/pages/delivery-order/radio-off.svg);
  background-size: cover;
  margin-right: 14px;
}
.pay-way__radio:checked + .pay-way__fake {
  background-image: url(../img/pages/delivery-order/radio-on.svg);
}
.pay-way__way {
  display: flex;
  align-items: center;
}
.pay-way__wrapper > * {
  margin-top: 8px;
}
.pay-way__text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #424242;
}
.order-pay__change {
  margin-top: 20px;
}
.order-pay__change > *:not(:first-child) {
  margin-top: 9px;
}
.change__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #424242;
}
.change__form {
  width: 167px;
  height: 40px;
  border-radius: 30px;
  background-color: #fff;
  outline: none;
  padding: 0 17px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
}
.order-pay__compound {
  margin-top: 14px;
  padding-bottom: 18px;
  border-bottom: 1px solid #D9D9D9;
}
.compound__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #424242;
}
.compound__list {
  margin-top: 10px;
}
.compound__list > *:not(:first-child) {
  margin-top: 8px;
}
.compound__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.compound__product {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #8A8A8A;
  max-width: 235px;
}
.compound__price {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #8A8A8A;
}
.order-pay__total {
  margin-top: 16px;
}
.pay-total__title {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #424242;
}
.pay-total__wrapper {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pay-total__text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
}
.pay-total__sum {
  font-family: 'TT Firs Neue';
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #424242;
}
.order-pay__submit {
  margin-top: 24px;
  width: 320px;
  height: 54px;
  background: #E94F1D;
  border-radius: 30px;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF; 
}
.order-pay__warn {
  margin-top: 14px;
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  color: #7A7979;
  max-width: 255px;
}
.order-pay__warn-wrapper {
  display: flex;
  justify-content: center;
}
.data-forms__container._hidden, .data-forms__small-wrapper._hidden {
  display: none;
}
.order-time__option-text {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #424242;
}
/***************************************************************************************
*********************************vacancies page*****************************************
***************************************************************************************/

/***************************************
**************vacancies-main************
***************************************/
.vacancies__main {
  width: 100%;
  background-image: url(../img/pages/vacancies/vacancies-main/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.vacancies-main__container {
  min-height: 480px;
}
.vacancies-main__rect {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 47px;
  width: 108px;
  height: 116px;
  z-index: -1;
}
@media (min-width: 1920px) {
  .vacancies-main__rect {
    left: calc(((100vw - 1920px) / 2) + 47px);
  }
}
.vacancies-main__prev-page, .vacancies-main__slesh {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #FFFFFF;
}
.vacancies-main__this-page {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #FFFFFF;
}
.vacancies-main__slesh {
  margin: 0 4px;
}
.vacancies-main__navigation {
  padding: 13px 0;
}
.vacancies-main__container {
  display: flex;
  justify-content: space-between;
}
.vacancies-main__img-content {
  width: 765px;
  position: relative;
  min-height: 100%;
}
.vacancies-main__rolls {
  position: absolute;
  bottom: 0;
  right: -58px;
  width: 773px;
  height: 433px;
}
.vacancies-main__figures {
  position: absolute;
  bottom: 258px;
  right: -85px;
  width: 144px;
  height: 143px;
}
.vacancies-main__text-content {
  padding-bottom: 88px;
}
.vacancies-main__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 770px;
  position: relative;
  z-index: 1;
}
.vacancies-main__title, .vacancies-main__smaller-txt {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 759px;
}
.vacancies-main__smaller-txt {
  font-size: 30px;
}
.vacancies-main__caps-txt {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.vacancies-main__more {
  display: flex;
  align-items: center;
}
.vacancies-main__more-text {
  margin-left: 29px;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.vacancies-main__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.vacancies-main__icon {
  width: 8px;
  height: 23px;
}
/*********************************
***********director***************
*********************************/
.director {
  padding: 50px 0 46px 0;
}
.director__container {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}
.director__text-content {
  max-width: 940px;
  margin-top: 215px;
}
.director__img-wrapper {
  position: relative;
  width: 548px;
}
.director__img-wrapper-inner {
  position: relative;
  padding-bottom: 88.5%;
}
.director__photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.director__name-wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  min-width: 390px;
  max-width: 550px;
  height: 118px;
  padding: 24px 42px 37px 42px;
  position: absolute;
  top: 52px;
  right: -55%;
}
.director__profession {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #E94F1D;
}
.director__name {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #424242;
}
.director__bold-text, .director__text {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #424242;
}
.director__text {
  font-weight: 300;
}
/*******************************************
******************vacancy*******************
*******************************************/
.vacancy {
  padding: 65px 0 70px 0;
  width: 100%;
  background-color: #F4F5F7;
}
.vacancy__title {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #424242;
}
.vacancy__list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vacancy-modal__data {
  text-decoration: underline;
}
.vacancy__item {
  width: 1137px;
  min-height: 300px;
  background-color: #fff;
  padding: 62px 39px 28px 39px;
  position: relative;
}
.vacancy__date {
  position: absolute;
  min-width: 161px;
  height: 30px;
  background: #424242;
  top: 16px;
  left: 0;
  padding-left: 52px;
  border-radius: 0 20px 20px 0;
}
.vacancy__date-text {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}
.vacancy__name {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 130%;
  color: #424242;
}
.vacancy__name-and-locate > *:not(:first-child) {
  margin-top: 7px;
}
.vacancy__locate {
  display: flex;
  align-items: center;
}
.vacancy__icon {
  width: 19px;
  height: 19px;
  margin-right: 7px;
}
.vacancy__city {
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #E94F1D;
}
.vacancy__requirements {
  margin-top: 14px;
}
.vacancy__requirements > *:not(:first-child) {
  margin-top: 4px;
}
.requirements__title {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
}
.requirements__text {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
  max-width: 986px; 
}
.vacancy__buttons {
  margin-top: 37px;
  display: flex;
  gap: 20px;
}
.vacancy__response {
  width: 266px;
  height: 54px;
  background: #E94F1D;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 77px;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
  color: #FFFFFF;
  cursor: pointer;
}
.vacancy__expand {
  width: 266px;
  height: 54px;
  border: 1px solid #E94F1D;
  border-radius: 30px;
  padding: 16px 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'TT Firs Neue';
  font-weight: 500;
  font-size: 16px;
  line-height: 127%;
  color: #E94F1D;
  cursor: pointer;
}
.vacancy__expand-icon {
  width: 13px;
  height: 13px;
  margin-left: 11px;
}
.vacancy__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 700px;
  height: max-content;
  background-color: #fff;
  z-index: 10;
  display: none;
  border-radius: 20px;
  padding: 42px 71px;
}
.fancybox-button {
  width: 29px;
  height: 29px;
}
.fancybox-slide--html .fancybox-close-small {
  padding: 0;
  right: 22px;
  top: 20px;
}
.vacancy-modal__title {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 33px;
  line-height: 130%;
  text-align: center;
  color: #424242;
}
.vacancy-modal__forms {
  margin-top: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vacancy-modal__forms > *:not(:first-child) {
  margin-top: 10px;
}
.vacancy-modal__forms-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.vacancy-modal__form-wrapper > *:not(:first-child) {
  margin-top: 10px;
}
.vacancy-modal__form-name {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #424242;
}
.vacancy-modal__red-text {
  color: #FF0000;
}
.vacancy-modal__small-form {
  width: 273px;
  height: 44px;
  background: #F4F5F7;
  border-radius: 30px;
  outline: none;
  padding: 0 19px;

  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #494949;
}
.vacancy-modal__big-form {
  width: 558px;
  height: 44px;
  background: #F4F5F7;
  border-radius: 30px;
  outline: none;
  padding: 0 19px;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #494949;
}
.vacancy-modal__warn, .vacancy-modal__data {
  font-family: 'TT Firs Neue';
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
  color: #424242;
  text-align: center;
}
.vacancy-modal__forms > .vacancy-modal__warn {
  margin-top: 18px;
}
.vacancy-modal__submit {
  min-width: 230px;
  max-width: 280px;
  height: 54px;
  background: #E94F1D;
  border-radius: 30px;
  padding: 17px 30px;
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  cursor: pointer;
}
/****************************************
***************team**********************
****************************************/
.team {
  padding: 78px 0 39px 0;
}
.team__button {
  margin-top: 100px;
}
.team__title {
  font-family: 'TT Firs Neue';
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #424242;
  text-align: center;
}
.team__swiper {
  margin-top: 48px;
  cursor: grab;
}
.team__text-wrapper {
  width: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.team__text-wrapper > *:not(:first-child) {
  margin-top: 5px;
}
.team__swiper-wrapper {
  padding: 0 20px;
}
.team__img-wrapper {
  width: 261px;
}
.team__img-wrapper-inner {
  position: relative;
  padding-bottom: 100%;
}
.team__photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.team__person-name {
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #424242;
}
.team__profession {
  font-family: 'TT Firs Neue';
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #424242;
}
.team__next, .team__prev {
  top: 40%;
}
/*.team__swiper-wrapper > *:not(:last-child) {
  margin-right: 57px;
}*/